<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LA-7710</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <link href="../Content/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../Content/sticky-footer-navbar.css" rel="stylesheet">
    <link href="../Content/style.css" rel="stylesheet">
    <link href="../Content/la-7710.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar-expand-md navbar-dark fixed-top nav">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li>
                <a id="navhome" href="index.html">jQuery</a>
              </li>
              <li>
                <a href="index.html">Start<span class="sr-only">(current)</span></a>
              </li>
              <li>
                <a href="la-7710.html">Schritt1</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main>
      <div class="standardContent container">
        <div>
          <h1>LA_152_7710_jQueryTemplate</h1>
        </div>
        <div>
          <hr>
        </div>
        <div>
          <h3><a id="link" href="index.html">Startseite</a></h3>
        </div>
        <div>
          <p>Meine Beispiele</p>
        </div>   
        <div id="content">
          <button id="here">Be here</button>
          <button id="gone">Be gone</button>
        </div>     
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">&#169 BBBaden Sascha Fiechter 2016</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../jQuery/jquery.min.js"></script>
    <script src="../Scripts/la-7710.js"></script>
    <script>window.jQuery || document.write('<script src="../jQuery/jquery.min.js"><\/script>')</script>
    <script src="../assets/js/vendor/popper.min.js"></script>
    <script src="../Scripts/bootstrap/bootstrap.min.js"></script>
  </body>
</html>