<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>LA-7716</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/">

  <!-- Bootstrap core CSS -->
  <link href="../Content/bootstrap/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../Content/sticky-footer-navbar.css" rel="stylesheet">
  <link href="../Content/style.css" rel="stylesheet">
</head>

<body>

  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top nav">
      <div class="container">
        <a id="navhome" href="index.html">Benjyros</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li>
              <a href="index.html">Home<span class="sr-only">(current)</span></a>
            </li>
            <li>
              <a href="la-7716.html">LA-7716</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Begin page content -->
  <main>
    <div class="standardContent container">
        <div>
            <h1>LA_152_7716_jQueryMousePosition</h1>
            <hr>
        </div>
        <div>
            <p>Bewege die Maus über das Feld</p>
            <div id="hoverArea" style="width:300px;height:300px;background:crimson;"></div>
            <p id="outputPos"></p>
            <hr>
        </div>
        <div>
            <img id="imgClick" src="../Images/klick.png" alt="Klick Image" style="border:3px solid green;width:400px;height:400px;">
            <p id="outputClick">Sie haben noch keine Klicks gemacht.</p>
        </div>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">&#169 by Benjamin Peterhans 2022</span>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../jQuery/jquery.min.js"></script>
  <script src="../Scripts/script.js"></script>
  <script src="../Scripts/la-7716.js"></script>
  <script>window.jQuery || document.write('<script src="../jQuery/jquery.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../Scripts/bootstrap/bootstrap.min.js"></script>
</body>

</html>