<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LA-7752</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <link href="../Content/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../Content/sticky-footer-navbar.css" rel="stylesheet">
    <link href="../Content/la-7752.css" rel="stylesheet">
    <link href="../Content/style.css" rel="stylesheet">
</head>

<body>

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top nav">
            <div class="container">
                <a id="navhome" href="index.html">Benjyros</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <a href="index.html">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                            <a href="la-7752.html">LA-7752</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main>
        <div class="standardContent container">
            <video id="background" autoplay muted loop>
                <source src="../Videos/storm.mp4" type="video/mp4">
            </video>
            <div id="content">
                <div class="videos">
                    <h4>Aufgabe 1</h4>
                    <hr>
                    <video id="matrix" autoplay loop controls>
                        <source src="../Videos/matrix.mp4" type="video/mp4">
                        <source src="../Videos/matrix.ogg" type="video/ogg">
                    </video>
                    <h5>Einstellungen:</h5>
                    <p>- Autoplay</p>
                    <p>- Automatisches Replay</p>
                    <p>- Breite 500 Pixel</p>
                    <p>- Steuerelemente (Play, Stop)</p>
                </div>
                <div class="videos">
                    <h4>Aufgabe 2</h4>
                    <hr>
                    <iframe id="ytvideo" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1">
                    </iframe>
                    <h5>Einstellungen:</h5>
                    <p>- Autoplay</p>
                    <p>- Breite 500px</p>
                </div>
                <div class="videos">
                    <h4>Aufgabe 3</h4>
                    <hr>
                    <h5>Einstellungen:</h5>
                    <p>- Background</p>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">&#169 by Benjamin Peterhans 2022</span>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../jQuery/jquery.min.js"></script>
    <script src="../Scripts/script.js"></script>
    <script src="../Scripts/la-7717.js"></script>
    <script>window.jQuery || document.write('<script src="../jQuery/jquery.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../Scripts/bootstrap/bootstrap.min.js"></script>
</body>

</html>